.night{
    background-image: url("images/night.jpeg");
    color: white;
}
.sunset{
    background-image: url("images/sunset.jpeg");
    color: white;
}
.day{
    background-image: url("images/duraing_day.jpeg");
    color: rgb(139, 122, 122);
}
.sunrise{
    background-image: url("images/morning.jpeg");
    color: white;
}
div{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
}