<h1>Weather App</h1>
<div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="email" required formControlName="email" placeholder="Email"
            [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched" name="email">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            email is invalid
        </div>
        <input type="password" required formControlName="password"
            [class.invalid]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
            name="password" placeholder="Password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            password is required
        </div>
        <div class="error-text" *ngIf="loginForm.get('password').hasError('passwordStrength')">
            {{loginForm.get('password').errors['passwordStrength']}}
        </div> <br>
        <button [disabled]="loginForm.invalid" type="submit" class="button1">Log in</button>
    </form>
</div>