.maincontainer{
    padding: 4% 7%;
    .header{
        text-align: center;
        padding: 1%;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 120%;
        right: 0;
        width: 100%;
        background-color: white;
    }
    .search{
        margin-top: 30px;
        background-color: whitesmoke;
        padding: 1% 3%;
        width: 87%;
        border-radius: 11px;
        cursor: text;
        border: none;
    }
    .result{
        padding: 2% 3%;
        overflow: scroll;
        background-color: rgba(253, 252, 252, 0.1);
        margin-top: 3px;
        width: 87%;
    }
    .back{
        display: flex;
        cursor: pointer;
        position: fixed;
        bottom: 0;
        img{
            width: 30px;
            height: 30px;
        }
        span{
            margin-top: 0px;
            padding-top: 0px;
            font-weight: 100;
            font-size: 20px;
        }
    }
}
